body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}

.header,
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    min-height: 50px;
}

.sec-1,
.sec-2,
.sec-3,
.sec-4,
.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-1{
    background-color: #1F2937;
    flex: 1;
    gap: 30px;
    min-height: 350px;
}

.content {
    color: white;
    width: 380px;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.subtext {
    font-size: 18px;
}

.placeholder {
    background-color: #E5E7EB;
    width: 450px;
    height: 200px;
}

.button1,
.button2 {
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    padding:4px 20px;
    margin-top: 5px;
}

.button2 {
    border-color: #E5E7EB;
}

.sec-2 {
    flex: 1;
    flex-direction: column;
    min-height: 350px;
}

.img-container {
    display: flex;
    gap: 40px;
}

.info {
    max-width: 150px;
    text-align: center;
}

.imgbox {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.subheading {
    font-size: 36px;
    font-weight: bold;
}

.sec-3 {
    flex-direction: column;
    flex: 0.8;
    background-color: #E5E7EB;
    min-height: 300px;
}

.quote-container {
    display: flex;
    flex-direction: column;
}

.customer {
    align-self: flex-end;
    font-weight: bold;
    font-size: large;
}

.quote {
    width: 700px;
    font-size: 30px;
}

.sec-4 {
    flex: 0.7;
    min-height: 250px;
}

.subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 0 95px;
    width: 600px;
    height: 100px;
    color: white;
    border-radius: 5px;
}

.sec4-subtitle {
    font-weight: bold;
    font-size: 18px;
}

.text {
    font-size: 14px;
}

.logo {
    font-weight: bold;
    font-size: larger;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;   
}

a {
    text-decoration: none;
    color: white;
}