body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

.header,
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 50px;
}

.sec-1{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 30px;
}

.content {
    color: white;
    width: 380px;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.subtext {
    font-size: 18px;
}

.placeholder {
    background-color: #E5E7EB;
    width: 450px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1,
.button2 {
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    padding:4px 20px;
    margin-top: 5px;
}

.sec-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container {
    display: flex;
    gap: 30px;
}

.info {
    max-width: 120px;
    text-align: center;
}

.imgbox {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.subheading {
    font-size: 36px;
    font-weight: bold;
}

.sec-3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

.quote {
    width: 700px;
    font-size: 36px;
}

.sec-4 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}



.logo {
    font-weight: bold;
    font-size: larger;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;   
}

a {
    text-decoration: none;
    color: white;
}